@{
    ViewData["Title"] = "Home Page";
}

<body class="front_body">
        <div class="col-12 align-self-center text-center pt-5 text-light">
            <a class="text-decoration-none text-light" asp-area="" asp-controller="Cars" asp-action="Index">
                <h1 class="display-1 front-text text-uppercase front_car">cars</h1>
                <p class="front_p">Luxury Collection</p>
            </a>
        </div>
</body>

  

 
    
 
